body {
  position: relative;
  min-height: 100vh;
}

.Footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: fit-content;
  background-color: #212529;

}

.ConLogoFooter {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 2px solid #2e323b;
}

.LogoFooter {
  width: 80px;
}

.LogoLabel {
  text-decoration: none;
  color: white;
  font-size: large;
  font-weight: bold;
}

.ConLinks {
  margin-left: 80px;
  padding: 10px 0;
  width: fit-content;
}

.Link, .bi-whatsapp {
  color: green;
  text-decoration: none;
}
