body {
  position: relative;
  min-height: 100vh;
}

.Footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: fit-content;
  background-color: #212529;
}

.ConLogoFooter {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 2px solid #2e323b;
}

.LogoFooter {
  width: 80px;
}

.LogoLabel {
  text-decoration: none;
  color: white;
  font-size: large;
  font-weight: bold;
}

.ConLinks {
  margin-left: 80px;
  padding: 10px 0;
  width: fit-content;
  display: flex;
  flex-direction: column;
}

.Link {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 8px 0;
  font-size: 15px;
  font-weight: 500;
  width: 100%;
}

.Link1 {
  color: gray;
}

.Link2 {
  color: brown;
}

.Link3 {
  color: green;
}

.Link4 {
  color: dodgerblue;
}

@media screen and (min-width: 500px) {
  .ConLinks {
    width: 100%;
    margin: 0;
    flex-direction: row;
    justify-content: space-around;
  }
  .Link {
    text-align: center;
    border-right: 2px solid #5d6975;
  }
  .Link4 {
    border: none;
  }
}

@media screen and (min-width: 1000px) {
  .Link {
    font-size: 17px;
  }
}
